services:
  controller:
    image: ghcr.io/open-traffic-generator/keng-controller:1.40.0-15
    command: --accept-eula --http-port 8443
    network_mode: "host"
    restart: always
  traffic_engine:
    image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.8.0.245
    restart: always
    privileged: true
    network_mode: "host"
    environment:
      - OPT_LISTEN_PORT=5551
      - ARG_IFACE_LIST=virtual@af_packet,ens6
      - OPT_NO_HUGEPAGES=Yes
      - OPT_NO_PINNING=Yes
      - WAIT_FOR_IFACE=Yes
  protocol_engine:
    image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.482
    restart: always
    privileged: true
    network_mode: service:traffic_engine
    environment:
      - INTF_LIST=ens6
